@charset "UTF-8";

/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* Cores */
  --cor1: #ffffff;
  --cor2: black;

  /* Fontes */
  --font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

body {
  background-color: var(--cor2);
  width: 100vw;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font);
  overflow-x: hidden;
  height: 100vh;
}

/* CABEÇALHO */

.header {
  background-image: url(Imgs/banner\ 1.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  & img {
    z-index: 99;
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.header::after {
  background-image: linear-gradient(to bottom, #000 -1%, transparent 10%);
}

.container {
  padding: 2em 3em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  z-index: 99;
  width: 70%;

  & a {
    color: var(--cor1);
    font-size: 18px;
    transition: 0.7s;
    cursor: pointer;
  }

  & a:hover {
    color: red;
  }
}

.menu_imagens {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* MAIN */

.main {
  content: "";
  position: absolute;
  top: 25%;
  left: 3%;
}

.info_filme {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info_conteudo {
  display: flex;
  gap: 24px;

  & p {
    color: var(--cor1);
  }

  & .botao {
    font-size: 18px;
    font-weight: 600;
    padding: 0.8rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    gap: 5px;
    cursor: pointer;
  }

  & .btn-play {
    color: var(--cor2);
    background-color: var(--cor1);
    width: 25%;
    transition: 0.2s;
    padding-right: 6%;
  }

  & .btn-play:hover {
    color: var(--cor1);
    background-color: rgba(137, 137, 137, 0.452);
  }

  & .btn-info {
    color: var(--cor1);
    background-color: rgba(137, 137, 137, 0.452);
    width: 45%;
    transition: 0.5s;
  }
  & .btn-info:hover {
    color: var(--cor1);
    background-color: var(--cor2);
  }
}

.container_filmes {
  margin-top: 51%;
  padding-bottom: 1em;
  position: relative;

  & h2 {
    color: var(--cor1);
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
  }
}
h2:hover {
  color: red;
}

.filmes {
  position: absolute;
  top: 100%;
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;

  & .filme {
    padding: 1px;
    /* background-color: rgba(0, 0, 0, 0.632); */
  }
}

img {
  transition: 0.5s;
}

.filme:hover img {
  background-color: rgba(255, 0, 0, 0.164);
  border: 1px solid #ffffff77;
  padding: 0.8em;
  filter: blur(1.1px);
  transform: scale(1.1);
}

/* Footer */

.footer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 1230px);
  color: #ffffff;
  height: 20vh;
  
}

.icons-redes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 25px;
  width: 100%;

  & img {
    width: 35px;
    transform: translate(-30%);
  }
}

.container_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}

.list_info {
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  list-style-type: none;

  width: 440px;
 
}

.info_copy {
  display: flex;
  flex-direction: column;

  & .copryright {
    margin-top: 2em;
    font-size: 12px;
    color: gray;
  }
}

.btn_servico {
  margin-top: 2em;
  padding: 10px 5px;
  border: 2px solid rgba(128, 128, 128, 0.781);
  color: gray;
  border-radius: 4px;
  text-align: center;
  width: 160px;
  cursor: pointer;

  & a {
    text-decoration: none;
  }
}
