@charset "UTF-8";

        /* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {

         /* Cores */
    --cor1: #FFFFFF;
    --cor2: black;

    /* Fontes */
    --font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

body {
  background-color: var(--cor2);
  width: 100vw;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font);
  overflow-x: hidden;
  height: 100vh;
}

    /* CABEÇALHO */

.header {
  background-image: url(Imgs/banner\ 1.svg);
  background-repeat: no-repeat;
  background-position:top center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  
  & img {
    z-index: 99;
  }
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.header::after {
  background-image: linear-gradient(to bottom, #000 -1%, transparent 10%);
}


.container {
  padding: 2em 3em;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  z-index: 99;
  width: 70%;


  & a {
    color: var(--cor1);
    font-size: 18px;
    transition: 0.7s;
    cursor: pointer;
  }

  & a:hover {
    color: red;
  }
}

.menu_imagens {
  display: flex;
  align-items: center;
  gap: 12px;
}



/* MAIN */

.main {
  content: '';
  position: absolute;
  top: 25%;
  left: 5%;
}

.info_filme {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info_conteudo {
    display: flex;
    gap: 24px;
 
  & p {
    color: var(--cor1);
  }

  & .botao {
    font-size: 18px;
    font-weight: 600;
    padding: 0.8rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    gap: 5px;
    cursor: pointer;
  }

  & .btn-play {
    color: var(--cor2);
    background-color: var(--cor1);
    width: 30%;
    transition: .2s;
  }

  & .btn-play:hover {
    color: var(--cor1);
    background-color: rgba(137, 137, 137, 0.452);
  }

  & .btn-info {
    color: var(--cor1);
    background-color: rgba(137, 137, 137, 0.452);
    width: 45%;
   transition: .5s;
  }
  & .btn-info:hover {
    color: var(--cor1);
    background-color: var(--cor2);
  }
}

.container_filmes {
  margin-top: 51%;
  padding-bottom: 1em;
  position: relative;
  
  & h2 {
    color: var(--cor1);
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
  }
}
h2:hover {
  color: red;
}

.filmes{
  position: absolute;
  top: 100%;
  width: 100vw;
 

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  & .filme{
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.632);
  }
}

img {
  padding-right: 10px;
}

/* === Footer === */
footer {
margin: 65% auto;
margin-left: 10%;
}

.social-links {
  height: 25px;
  width: 50%;
}

.social-links i {
  font-size: 22px;
  margin-right: 1.5rem;
  cursor: pointer;
  color: white;
}

.link-content {
  margin: 20px auto;
  color: grey;
}

.link-content__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}

.link-content__info ul {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: initial;
}

.link-content__info ul li {
  list-style: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.link-content__info ul li:hover {
  text-decoration: underline;
}

.link-content__service {
  margin-bottom: 20px;
  font-size: 13px;
}

.link-content__service-code {
  background: 0 0;
  color: grey;
  border: solid 1px grey;
  padding: 0.5rem;
}

.link-content__service-code:hover {
  color: white;
  border: solid 1px white;
}

.link-content__copyright {
  font-size: 11px;
  margin-bottom: 15px;
  padding: 1rem 4px;
}
